.DS_Store
Thumbs.db
_gitignore/
Vagrantfile
.vagrant/
/.idea

dist/builds/
dist/release/

error.log
access.log

/*.conf
./Caddyfile

og_static/

.vscode/

*.bat

tmp/
aqfer/*.yml
aqfer/aws/*.pem
aqfer/aws/dev_app_spec.yml
aqfer/aws/db_app_spec.yml
aqfer/aws/ecs_app_spec.yml
aqfer/Caddyfile
aqfer/debug
aqfer/debug/*
