_gitignore/
*.log
Caddyfile
!caddyfile/

# artifacts from pprof tooling
*.prof
*.test

# build artifacts
cmd/caddy/caddy
cmd/caddy/caddy.exe

# mac specific
.DS_Store

# go modules
vendor

# integration testing prerequisites
caddytest/caddy.local.crt
caddytest/caddy.local.key
