[submodule "aqfer/caddy-redis"]
	path = aqfer/caddy-redis
	url = git@github.com:fellou89/caddy-redis.git
[submodule "aqfer/caddy-awscloudwatch"]
	path = aqfer/caddy-awscloudwatch
	url = git@github.com:fellou89/caddy-awscloudwatch.git
[submodule "aqfer/caddy-awsdynamodb"]
	path = aqfer/caddy-awsdynamodb
	url = git@github.com:fellou89/caddy-awsdynamodb.git
[submodule "aqfer/caddy-secrets"]
	path = aqfer/caddy-secrets
	url = git@github.com:fellou89/caddy-secrets.git
[submodule "aqfer/caddy-reauth"]
	path = aqfer/caddy-reauth
	url = git@github.com:fellou89/caddy-reauth.git
[submodule "aqfer/caddy-transformrequest"]
	path = aqfer/caddy-transformrequest
	url = git@github.com:fellou89/caddy-transformrequest.git
[submodule "aqfer/caddy-cache"]
	path = aqfer/caddy-cache
	url = git@github.com:fellou89/caddy-cache.git
[submodule "aqfer/caddy-transformresponse"]
	path = aqfer/caddy-transformresponse
	url = git@github.com:fellou89/caddy-transformresponse.git
