:8082 {
  errors stdout
  secrets s3::https://s3.amazonaws.com/aqfer-secrets/secrets.yml

  reauth {
    path /v1
    refresh url=https://{$AUTH_ENDPOINT},skipverify=true,timeout=5s,follow=true
    failure status code=401
  }
  transformrequest
}
