:8082 {
  awscloudwatch debug aqfer.io development 65536
  jwt /
  reauth {
    path /ids/v1
    refresh url=http://0.0.0.0:8081,skipverify=true,timeout=5s,follow=true,cache_path=tmp,lock_timeout=5m
    failure status code=403
  }
  proxy /dynamodb :8083 {
    keepalive 400
  }
  proxy /redis :8084 {
    keepalive 400
  }
}

:8083 {
  awsdynamodb aqfer-idsync partition-key sort-key DAX 8085 seconddax.t67iza.clustercfg.dax.use1.cache.amazonaws.com:8111
  # awsdynamodb aqfer-idsync partition-key sort-key
}

:8084 {
  redis elasticachetest2.t67iza.0001.use1.cache.amazonaws.com:6379
  # redis :6379 testing
}

# secrets .secrets.yml
# log ./log/access.log
